body {
    height: 75vh;
    background-image: url('/assets/imgs/background1.jpg');
    /* background-repeat:no-repeat; */
}

form{
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 15vh;
}

p {
    margin-top: 5vh;
    font-size: 20px;
    color: white;
}

.space{
    margin-top: 3vh;
}
