<div class="col-md-8 order-md-1" style="margin: 10vh auto;">
    <div class="bar" style="height: 500px;" id="echart"></div>
    <div class="bar" style="height: 300px;" id="list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">设备名称</th>
                    <th scope="col">产品名称</th>
                    <th scope="col">宠物主人</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let device of arr$; let i = index;'>
                    <td>{{device.DeviceName}}</td>
                    <td>{{device.ProductName}}</td>
                    <td>{{device.master}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bar" style="height: 500px;" id="echart2"></div>
    <div class="bar" style="height: 500px;" id="echart3">

    </div>
    <div class="bar" style="height: 500px;" id="echart4">

    </div>
</div>